@import '~antd/dist/antd.css';
.app{
 padding-top: 40px;
 padding-left: 20px;
 flex: 1;
 flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
